#analogLabel {
	font-family: 'Josefin Sans', sans-serif;

	color: #ffffff;
}

#digitalLabel {
	font-family: 'Josefin Sans', sans-serif;

	color: #ffffff;
}

input[type="file"] {
	display: none;
}

.customFileUploader {
	background-color: #333333;
	display: inline-block;
	padding: 12px 12px;
	cursor: pointer;
	font-family: 'Josefin Sans', sans-serif;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

	color:#eef5f5;
	font-size: 1.2rem;
  	width: 6rem;
	border-top: 2px solid #1b1c1c;
	border-left: 2px solid #1b1c1c;
	border-bottom: 2px solid #1b1c1c;
	border-right: 2px solid #1b1c1c;
}

body {
	background-image:url("src/rusty.jpg");
}

h1 {
	font-family: 'Josefin Sans', sans-serif;

	color: #ffffff;
	margin-left: 30px;
	padding-top: 6px;
	font-size: 24px;
}
.img {
    border:0px;
    border-radius: 7px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;}
#container {
	margin: auto;
	width: 880px;
	background-color: #727172;
	padding-bottom: 30px;
    border-width: 10px;
    border-color: #1b1c1c;
    border-radius: 25px;
    color:#ffffff;
}

canvas {
	margin-left: 30px;
	margin-bottom: 1rem;
	margin-top: -6px;
	background: #000000;
	border-width:12px;
	border-color:#1b1c1c;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.p5Canvas {
	margin-left:0%;
	background-color: #727172;
	overflow:hidden;
}
#filters {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;

	color: #feffff;
}

#channelOne, #channelTwo {
	text-align: center;
	width: 260px;
	display:inline-block;
}

#channelOne {
	float: left;
}

#mixer {
	display:inline-block;	
}
#controls {
	
	border-width:12px;
	border-color:#1b1c1c;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#cross {
	text-align: center;
	margin-left: 2rem;
	margin-top: 240px;
}
#crossFader {
	width: 250px;
}

#channelTwo {
	float: right;
}

#gainSliderOne, #highSliderOne, #midSliderOne, #lowSliderOne,
#gainSliderTwo, #highSliderTwo, #midSliderTwo, #lowSliderTwo {
	width: 60px;
	height: 10px;
}

#volumeSliderOne, #volumeSliderTwo {
	transform: rotateZ(270deg);
	width: 100px;
	margin-top: 60px;
	margin-bottom: 50px;
}

section {
  	margin-bottom: 1rem;
}

#playButtonOne, #playButtonTwo {
  	font-size: 1.2rem;
  	width: 6rem;
}

button[data-playing="yes"]:after {
  	content: "Pause";
}

button[data-playing="no"]:after {
  	content: "Play";
}

v* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

 input {
	color: var(--fg);
	font: 1em/1.5 Muli, sans-serif;
}
.range__ticks {
	display: flex;
}

form {
	margin: auto;
	max-width: 15em;
	padding: 0 1.5em;
	width: 100%;
}
label {
	display: block;
	font-weight: bold;
}
input[type=range], label {
	-webkit-tap-highlight-color: transparent;
}
input[type=range], .range {
	border-radius: 0.75em;
	overflow: hidden;
	margin-bottom: 1.5em;
}
input[type=range] {
	background-color: transparent;
	box-shadow:
		0.3em 0.3em 0.4em var(--bs2) inset,
		-0.3em -0.3em 0.4em var(--bs1) inset;
	display: block;
	padding: 0 0.1em;
	width: 100%;
	height: 2.0em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type=range]:focus {
	outline: transparent;
}
input[type=range]::-webkit-slider-thumb {
	background-color: #cfcecd;
	border: 0;
	border-radius: 50%;
	box-shadow:
		-0.3em -0.3em 0.5em #e36327 inset,
		0 -0.2em 0.2em 0 #0004,
		0.3em 0.9em 0.8em #0007;
	cursor: pointer;
	position: relative;
	width: 1.6em;
	height: 1.6em;
	transition: all var(--transDur) linear;
	z-index: 1;
	-webkit-appearance: none;
	appearance: none;
}
input[type=range]:focus::-webkit-slider-thumb {
	background-color: #ff3f04;
	box-shadow:
		-0.3em -0.3em 0.5em #0b46da inset,
		0 -0.2em 0.2em 0 #0004,
		0.3em 0.9em 0.8em #0007;
}
input[type=range]::-moz-range-thumb {
	background-color: #255ff4;
	border: 0;
	border-radius: 50%;
	box-shadow:
		-0.3em -0.3em 0.5em #0937aa inset,
		0 -0.2em 0.2em 0 #0004,
		0.3em 0.9em 0.8em #0007;
	cursor: pointer;
	position: relative;
	width: 1.3em;
	height: 1.3em;
	transform: translateZ(1px);
	transition: all var(--transDur) linear;
	z-index: 1;
	-moz-appearance: none;
	appearance: none;
}
input[type=range]:focus::-moz-range-thumb {
	background-color: #f27d17;
	box-shadow:
		-0.3em -0.3em 0.5em hsl(222, 53%, 15%) inset,
		0 -0.2em 0.2em 0 #0004,
		0.3em 0.9em 0.8em #0007;
}
input[type=range]::-moz-focus-outer {
	border: 0;
}
.range {
	position: relative;
	height: 2.5em;
}
.range__ticks {
	justify-content: space-between;
	align-items: center;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0.75em;
	width: calc(100% - 1.5em);
	height: 100%;
}
.range__tick, .range__tick-text {
	display: inline-block;
}
.range__tick {
	color: var(--tick);
	font-size: 0.5em;
	text-align: center;
	width: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.range__tick-text {
	transform: translateX(-50%);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #2e3138;
		--fg: #e3e4e8;
		--bs1: #3c4049;
		--bs2: #202227;
		--tick: #c7cad1;
	}
}
