#analogLabel {
	font-family: 'Josefin Sans', sans-serif;

	color: #ffffff;
}

#digitalLabel {
	font-family: 'Josefin Sans', sans-serif;

	color: #ffffff;
}






h1 {
	font-family: 'Josefin Sans', sans-serif;

	color: #ffffff;
	margin-left: 30px;
	padding-top: 6px;
	font-size: 24px;
}
.img {
	margin-left: 50%;
    border:0px;
    border-radius: 7px;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;	margin-left: 2rem;
}
	#container {
	margin: auto;
	width: 1400px;
	background-image: url("color_tile.jpeg");
	padding-bottom: 30px;
    border-width: 1px;
    border-color: #1b1c1c;
    border-radius: 25px;
    color:#ffffff;
}

#canvas {
	margin-left: 10%;
	margin-bottom: 1rem;
	margin-top: -6px;
	background: #000000;
	border-width:12px;
	border-color:#575959;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	box-shadow: rgba(178, 177, 177, 0.5) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 1px 1px 1px 1px;	margin-left: 2rem;

}
#app {
	margin-left:0%;
	background-color: #727172;
	overflow:hidden;
}
#filters {
	width:100%;
	height: 100px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;

	color: #feffff;
}

#channelOne, #channelTwo {
	text-align: center;
	width: 260px;
	display:inline-block;
}

#channelOne {
	float: left;
}

#mixer {
	display:inline-block;	
}
#controls {
	margin-left:4%;
	width: 90%;
	height:80%;
	padding:10px;
	border-width:4px;
	border-radius: 3px;
	border-color:#2b2b2b;
	
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;	margin-left: 2rem;
	margin-top: 240px;
}
#crossFader {
	width: 250px;
}

#channelTwo {
	float: right;
}

#gainSliderOne, #highSliderOne, #midSliderOne, #lowSliderOne,
#gainSliderTwo, #highSliderTwo, #midSliderTwo, #lowSliderTwo {
	width: 60px;
	height: 10px;
}

#volumeSliderOne, #volumeSliderTwo {
	transform: rotateZ(270deg);
	width: 100px;
	margin-top: 60px;
	margin-bottom: 50px;
}

section {
  	margin-bottom: 1rem;
}

#playButtonOne, #playButtonTwo {
  	font-size: 1.2rem;
  	width: 6rem;
}

button[data-playing="yes"]:after {
  	content: "Pause";
}

button[data-playing="no"]:after {
  	content: "Play";
}

v* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

 

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #2e3138;
		--fg: #e3e4e8;
		--bs1: #3c4049;
		--bs2: #202227;
		--tick: #c7cad1;
	}
}
